@titles : 'Crimson Text', serif;
@textes_light : 'Libre Franklin', sans-serif;
@brun : #bda27e;
@vert : #566d64;
@black : #000;
@white : #fff;

.medium{
    font-weight: 500;
}
.flex{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
}

.flex-direction (@direction){
    flex-direction: (@direction);
    -webkit-flex-direction: (@direction);
    -moz-flex-direction: (@direction);
    -o-flex-direction: (@direction);
}

.justify-content (@justify){
    justify-content: (@justify);
    -webkit-justify-content: (@justify);
    -moz-justify-content: (@justify);
    -o-justify-content: (@justify);
}
.align-items (@align-items){
    align-items: (@align-items);
    -webkit-align-items: (@align-items);
    -moz-align-items: (@align-items);
    -o-align-items: (@align-items);
}
.align-self (@align-self){
    align-self: (@align-self);
    -webkit-align-self: (@align-self);
    -moz-align-self: (@align-self);
    -o-align-self: (@align-self);
}
.transform (@arguments){
    transform: @arguments;
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;   
}
.transition{
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
}
html{
	height: 100%;
    
	body{
		margin: 0;
		height: 100%;
		font-family: @textes_light;
		font-weight: 300;
		font-size: 11pt;
        width: 100%;
        overflow-x: hidden;
        background: @brun;
        
		h1, h2, h3{
			font-family: @titles;
		}
        h3{
            font-size: 50px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            
            a{
                color: @black;
                
                &:hover{
                    background: transparent;
                    color: @black;
                }
            }
        }
		a{
			color: grey;
			.transition;
			text-decoration: none;
			&:hover{
				background-color: grey;
				color: white;
			}
		}
        img{
            width: 100%;
        }
		.menu-description{
			display: none;
		}
		.products{
			margin: 0;
			padding: 0;
			.product{
				margin: 0;
                padding: 0;
				.product-image{
					background-size: cover !important;
					background-position-x: 50% !important;
                    background-position-y: 25% !important;
				}
				.bouton-ingredients{
					cursor: pointer;
				}
			}
		}
		.page-wrapper{
			.photos{
				background-size: cover !important;
				background-position: center top !important;
			}
		}
	}
}
@media (min-width: 568px){
	html{
		body{
		}
	}
}
@media (min-width: 1024px){
	html{
		body{
		}
	}
}
/* Header page */
header{
    width: 100%;
 
    .menu-menu-principal-container{
        width: 100%;
        display: block;
        position: fixed;
        top: 0;
        background: @brun;
        z-index: 20;

        
        ul{
            padding-left:0;
            margin: 20px auto;
            text-align: center;
            max-width: 1200px;
            width: 100%;           

            li{
                display: inline-block;
                text-transform: uppercase;
                border-right: 1px solid @black;
                padding: 0 20px;
                
                &:last-child{
                    border: 0;
                    padding-right: 0;
                }
                
                a{
                    color: @black;
                    
                    &:hover{
                        background: none;
                    }
                }
            }
        }

    }
    
    
    #logo{
        max-width: 800px;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 80px 0 30px 0;
    }
}

/* Liste Product */
.product{
    position: relative;
    width: 100%;
    height: 600px;
    .flex;
    .flex-direction(column);
    .justify-content(space-between);
    
    .product-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        z-index: -1;
    }
    h3{
        order: 0;
    }
    .cta-order{
        background: @vert;
        height: 200px;
        width: 200px;
        .align-self(flex-end);
        .flex;
        .flex-direction(column);
        .justify-content(center);
        .align-items(center);
        text-align: center;
        .transform(rotateZ(45deg) translate(-70px, 70px));
        
        .anti-rotate{
             .transform(rotateZ(-45deg)); 
            
            .price{
                color: @white;
                font-size: 40px;
                .medium;
            }
            .quantity{
                display: none;
            }
            .button{
                color: @brun;
                font-size: 22px;
                text-transform: uppercase;
                
                &:after{
                    display: block;
                    text-align: center;
                    content: " ";
                    width: 0;
                    height: 0;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-bottom: 42px solid @white;
                    margin: 10px auto 0;
                    .transform(rotateZ(90deg));
                }
            }
        }
    }
    .detail-menu{
        order:3;
        .align-self(center);
        
        .bouton-ingredients{
            .transition;
        }
        .active{
            .transform(translateY(-80px));
        }
        .menu-description{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: @brun;
            padding: 20px 0;
            text-align: center;
            text-transform: uppercase;
            .medium;
            font-size: 15px;
            margin-top: 30px;
        }
    }
}