/* CLASSES GÉNÉRALES */

@titles : 'Crimson Text',
serif;
@textes_light : 'Libre Franklin',
sans-serif;
@brun : #bda27e;
@vert : #566d64;
@black : #000;
@white : #fff;
@red : rgba(219, 8, 18, 0.2);

.medium {
    font-weight: 500;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
}

.inline-flex {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -o-inline-flex;
}

.flex-direction (@direction) {
    flex-direction: (@direction);
    -webkit-flex-direction: (@direction);
    -moz-flex-direction: (@direction);
    -o-flex-direction: (@direction);
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
}

.justify-content (@justify) {
    justify-content: (@justify);
    -webkit-justify-content: (@justify);
    -moz-justify-content: (@justify);
    -o-justify-content: (@justify);
}

.align-items (@align-items) {
    align-items: (@align-items);
    -webkit-align-items: (@align-items);
    -moz-align-items: (@align-items);
    -o-align-items: (@align-items);
}

.align-self (@align-self) {
    align-self: (@align-self);
    -webkit-align-self: (@align-self);
    -moz-align-self: (@align-self);
    -o-align-self: (@align-self);
}

.transform (@arguments) {
    transform: @arguments;
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
}

.transition {
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.container-1200 {
    max-width: 1800px;
    width: 100%;
}

.border-radius (@radius) {
    border-radius: (@radius);
    -webkit-border-radius: (@radius);
    -moz-border-radius: (@radius);
    -o-border-radius: (@radius);
}

.hover {
    background: @red;
}

.block {
    margin: 0 auto;
    display: block;

    p {
        line-height: 1.5;
    }
}

/* CSS BASE */

html {
    height: 100%;

    body {
        margin: 0 auto;
        display: block;
        height: 100%;
        font-family: @textes_light;
        font-weight: 300;
        font-size: 11pt;
        width: 100%;
        overflow-x: hidden;
        background: @brun;
        max-width: 1800px;

        &.home .page-wrapper {
            max-width: 100%;
        }

        h1,
        h2,
        h3 {
            font-family: @titles;
        }
        h3,
        .h3 {
            font-size: 50px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;

            a {
                color: @black;

                &:hover {
                    background: transparent;
                    color: @black;
                }
            }
        }
        a {
            color: @black;
            .transition;
            text-decoration: none;
            &:hover {
                opacity: 0.7;
            }
        }
        button {
            border: none;
            .transition;

            &:hover {
                cursor: pointer;
            }
        }
        img {
            width: 100%;
        }
        .bouton-ingredients {
            display: none;
        }
        /* HEADER */
        header {
            width: 100%;

            .menu-menu-principal-container {
                width: 100%;
                display: block;
                position: fixed;
                top: 0;
                background: @brun;
                z-index: 20;


                ul {
                    padding-left: 0;
                    margin: 20px auto;
                    text-align: center;
                    max-width: 1200px;
                    width: 100%;

                    li {
                        display: inline-block;
                        text-transform: uppercase;
                        border-right: 1px solid @black;
                        padding: 0 20px;

                        &:last-child {
                            border: 0;
                            padding-right: 0;
                        }

                        a {
                            color: @black;

                            &:hover {
                                background: none;
                            }
                        }
                    }
                }
            }
            .burger-menu {
                display: none;
                position: fixed;
                top: 20px;
                left: 20px;

                &:hover {
                    cursor: pointer;

                    span {
                        background: @white;
                    }
                }
                span {
                    width: 30px;
                    height: 5px;
                    background: @vert;
                    .border-radius(100px);
                    display: block;
                    margin-bottom: 5px;
                    .transition;
                }
            }
            .responsive-menu {
                background: @brun;
                width: 100%;
                max-width: 500px;
                height: 100%;
                position: fixed;
                .transition;
                z-index: 100;
                box-shadow: 0 0 5px @black;
                top: 0;
                left: -100%;

                &.active {
                    left: 0;
                }

                .menu-menu-principal-container {
                    display: block;
                    position: relative;
                    background: none;

                    ul {
                        .flex;
                        .flex-direction(column);
                        padding: 50px;
                        width: 100%;
                        box-sizing: border-box;

                        li {
                            display: block;
                            border-bottom: 1px solid @black;
                            border-right: none;
                            .align-items(flex-start);
                            text-align: left;
                            margin-bottom: 50px;
                            padding-bottom: 20px;

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
                #close {
                    background: none;
                    border: none;
                    box-shadow: none;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 101;

                    &:hover {
                        cursor: pointer;

                        &:before,
                        &:after {
                            background: @white;
                        }
                    }

                    &:before {
                        content: "";
                        width: 30px;
                        height: 5px;
                        background: @vert;
                        .border-radius(100px);
                        display: block;
                        .transform(rotate(45deg));
                        .transition;
                    }
                    &:after {
                        content: "";
                        width: 30px;
                        height: 5px;
                        background: @vert;
                        .border-radius(100px);
                        display: block;
                        .transform(rotate(-45deg));
                        position: relative;
                        top: -5px;
                        .transition;
                    }
                }
            }
            #logo {
                max-width: 800px;
                display: block;
                width: 100%;
                margin: 0 auto;
                padding: 80px 0 30px 0;
            }
        }
        .products {
            margin: 0;
            padding: 0;
            .product {
                margin: 0;
                padding: 0;
                position: relative;
                width: 100%;
                height: 600px;
                .flex;
                .flex-direction(column);
                .justify-content(space-between);

                .product-image {
                    background-size: cover !important;
                    background-position-x: 50% !important;
                    background-position-y: 25% !important;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%!important;
                    height: 100%!important;
                    z-index: -1;
                }
                h3 {
                    order: 0;
                }
                .bouton-ingredients {
                    cursor: pointer;
                }
                .cta-order {
                    background: @vert;
                    height: 200px;
                    width: 200px;
                    .align-self(flex-end);
                    .flex;
                    .flex-direction(column);
                    .justify-content(center);
                    .align-items(center);
                    text-align: center;
                    .transform(rotateZ(45deg) translate(-110px, 10px));
                    .transition;

                    &:hover {
                        background: @white;

                        .anti-rotate {
                            .price {
                                color: @vert;
                            }
                            .button:after {
                                border-bottom-color: @vert;
                            }
                        }
                    }

                    .anti-rotate {
                        .transform(rotateZ(-45deg));

                        .price {
                            color: @white;
                            font-size: 40px;
                            .medium;
                            .transition;
                        }
                        .quantity {
                            display: none;
                        }
                        .button {
                            color: @brun;
                            font-size: 22px;
                            text-transform: uppercase;

                            &:hover {
                                background: none;
                            }

                            &:after {
                                display: block;
                                text-align: center;
                                content: " ";
                                width: 0;
                                height: 0;
                                border-left: 25px solid transparent;
                                border-right: 25px solid transparent;
                                border-bottom: 42px solid @white;
                                margin: 10px auto 0;
                                .transform(rotateZ(90deg));
                                .transition;
                            }
                        }
                    }
                }
                .detail-menu {
                    order: 3;
                    width: 100%;
                    text-align: center;
                    .align-self(center);

                    .bouton-ingredients {
                        .transition;
                        font-size: 16pt; //font-weight: 900;
                        color: #566d64;
                        background-color: #bda27e;
                        display: inline-block;
                        padding: 5px;
                    }
                    .active {
                        .transform(translateY(-58px));
                    }
                    .menu-description {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background: @brun;
                        padding: 20px 0;
                        text-align: center;
                        text-transform: uppercase;
                        div {
                            color: #566d64;
                            .container;
                            .block;
                        }
                        .medium;
                        font-size: 15px;
                        margin-top: 30px;
                    }
                }

                &.product_cat-dessert {
                    .inline-flex;
                    width: 33%;
                    .product-image {
                        background-position-x: 50% !important;
                        background-position-y: 40% !important;
                    }
                    .cta-order {
                        position: absolute;
                        bottom: 80px;
                        left: ~'calc(50% - 100px)';
                        .transform(rotateZ(45deg) translate(0, 0));
                    }
                }
                &.product_cat-boissons {
                    .cta-order {
                        display: none;
                    }
                }
                &.product_cat-vins,
                &.product_cat-eaux {
                    display: none;
                }
            }
        }
        .page-wrapper {
            .container-1200;
            .block;

            .photos {
                background-size: cover !important;
                background-position: center top !important;
                height: 600px!important;
                .flex;
                .flex-direction(column);
                .justify-content(space-between);

                h2 {
                    text-align: center;
                }

                &#background-producteur {
                    background-position: 50% 50%!important;
                }

                .presentation {
                    .flex;
                    .flex-direction(row);
                    .justify-content(space-between);
                    text-align: center;
                    .container;
                    margin: 0 auto;
                }
            }
            .cadre-bas {
                background: @brun;
                width: 100%;
                padding: 30px 0;

                .container-1200 {
                    .flex;
                    .flex-direction(row);
                    .justify-content(center);
                    .align-items(flex-start);
                    margin: 0 auto;

                    .titre-gauche {
                        width: 50%;
                        color: @vert;
                        text-transform: uppercase;
                        font-family: @textes_light;
                        font-size: 40px;
                        text-align: right;
                        padding-right: 50px;
                        margin: 0;
                    }
                    .texte-droite {
                        width: 50%;
                        color: @white;
                        font-size: 20px;
                        line-height: 1.5;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .livraison {
                background: @vert;
                .justify-content(flex-start);
                height: auto!important;

                &.photos {
                    height: auto!important;
                }

                .h3 {
                    color: @white;
                }
                .cadre-bas {
                    background: none;

                    img {
                        width: 50%;
                        padding-right: 50px;
                    }
                }
            }
            #photo-livraison {
                width: 100%;
                height: 800px!important;
                background-size: cover!important;
                background-repeat: no-repeat;
                background-position: top center !important
            }

            .woocommerce {
                .product-thumbnail,
                .thumb {
                    display: none;
                }
                .woocommerce-message {
                    text-align: center;
                    border: 1px solid @vert;
                    font-size: 22px;
                    padding: 10px;
                    width: 100%;
                    max-width: 500px;
                    display: block;
                    margin: 0 auto 30px;
                    color: @vert;
                    font-family: @textes_light;
                }
            }
        }
        .cart-collaterals {
            .container-1200;
            margin: 0 auto;
            .wc-proceed-to-checkout{
                width: 100%;
                max-width: 1200px;
                .block;
                
                .button {
                    background: @vert;
                    padding: 10px 20px;
                    color: @white;
                    border: none;
                    font-size: 22px;
                    margin-left: auto;
                    display: block;
                    max-width: 250px;
                    text-align: center;
                    text-transform: uppercase;

                    &:hover {
                        background: @white;
                        color: @vert;
                    }
                }
            }
        }

        table {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;

            .product-name {
                text-align: left;
            }
            .product-price,
            .product-quantity,
            .product-subtotal {
                text-align: right;
            }
            thead {
                font-family: @textes_light;
                ;
                .h3;
                color: @vert;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                tr {
                    th {
                        &:first-child {
                            padding-left: 20px;
                        }
                        &:last-child {
                            padding-right: 20px;
                        }
                    }
                }
                .product-remove {
                    visibility: hidden;
                }

            }
            tbody {
                font-family: @titles;
                font-size: 22px;
                text-transform: uppercase;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;

                tr {
                    .transition;
                    td {
                        border-bottom: 1px solid @black;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        margin-bottom: 20px;

                        &:first-child {
                            padding-left: 20px;
                        }
                        &:last-child {
                            padding-right: 20px;
                        }

                        &.product-remove {
                            .remove {
                                font-size: 40px;
                                top: -3px;
                                position: relative;

                                &:hover {
                                    color: @white;
                                }
                            }
                        }

                        &.product-quantity {
                            label {
                                display: none;
                            }
                            .quantity {
                                .bouton {
                                    height: 30px;
                                    width: 30px;
                                    color: @white;
                                    background: @vert;
                                    font-size: 22px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    box-sizing: border-box;
                                    .medium;
                                    .border-radius(100px);
                                    .transition;
                                    text-align: center;
                                    line-height: 1.2;
                                }
                                .bouton:hover {
                                    background: @white;
                                    color: @vert;
                                    cursor: pointer;
                                }
                            }
                            input[type=number] {
                                background: none;
                                border: none;
                                text-align: center;
                                -moz-appearance: textfield;
                            }
                            input[type=number]::-webkit-inner-spin-button,
                            input[type=number]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }

                    }

                    &:last-child {
                        td {
                            border: none;
                        }
                    }
                    .button {
                        color: @vert;
                        background: none;
                        border: none;
                        text-transform: uppercase;
                        .transition;
                        font-size: 18px;
                        text-decoration: underline;

                        &:hover {
                            color: @white;
                        }
                    }
                }
            }
        }
        .drinks-choice{
            width: 100%;
            max-width: 1200px;
            .block;
            margin-top: 50px;
            
            p{
                &:first-child{
                    .h3;
                    .medium;
                    color: @vert;
                    text-align: left;
                }
            }
        }
        footer {
            text-align: center;
            h4 {
                font-size: 30px;
                margin-bottom: 100px;
            }
            h5 {
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .menu-menu-footer-container {
                ul {
                    text-align: center;
                    list-style: none;
                    padding: 0;

                    li {
                        display: inline-block;
                        border-right: 1px solid @black;
                        padding: 0 10px;
                        text-transform: uppercase;

                        &:last-child {
                            border-right: none;
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }

            &:after {
                content: " ";
                background: url(http://localhost:8888/lesdejsurlherbe/wp-content/uploads/2018/04/motif.svg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 500px;
                display: block;
            }
        }
        &.single-product {
            .product {
                img {
                    height: 100%;
                }
                h1 {
                    .h3;
                    text-align: center;
                }
            }
        }
    }
}


@media screen and (min-width:768px) and (max-width:1024px) {
    .container,
    .container-1200 {
        max-width: 850px;
    }
    html {
        body {
            h3,
            .h3 {
                font-size: 40px;
            }
            .products {
                .product {
                    height: 400px;
                    .cta-order {
                        height: 150px;
                        width: 150px;

                        .anti-rotate {
                            .price {
                                font-size: 30px;
                            }
                            .button {
                                font-size: 19px;
                                &:after {
                                    border-left: 20px solid transparent;
                                    border-right: 20px solid transparent;
                                    border-bottom: 37px solid @white;
                                }
                            }
                        }
                    }
                    &.product_cat-dessert {
                        .cta-order {
                            left: ~'calc(50% - 75px)';
                            bottom: 60px;
                        }
                    }
                }
            }
            .page-wrapper {
                .photos {
                    height: 400px!important;
                    .presentation {
                        max-width: 850px;
                    }
                }
                .cadre-bas {
                    .container-1200 {
                        .titre-gauche {
                            width: 40%;
                        }
                        .texte-droite {
                            width: 60%;
                        }
                    }
                }
                #photo-livraison {
                    height: 500px!important;
                }
            }
            footer {
                &:after {
                    background-size: cover;
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .container-1200 {
        max-width: 600px;
    }
    html {
        body {
            h3,
            .h3 {
                font-size: 30px;
            }
            header {
                .menu-menu-principal-container {
                    display: none;
                }
                .burger-menu {
                    display: block;
                }
                #logo {
                    padding: 30px 0;
                }
            }
            .products {
                .product {
                    height: 350px;
                    .cta-order {
                        height: 130px;
                        width: 130px;
                        .transform(rotateZ(45deg) translate(-80px, 10px));

                        .anti-rotate {
                            .price {
                                font-size: 25px;
                            }
                            .button {
                                font-size: 15px;
                                &:after {
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-bottom: 32px solid @white;
                                }
                            }
                        }
                    }
                    &.product_cat-dessert {
                        .cta-order {
                            left: ~'calc(50% - 65px)';
                            bottom: 50px;
                        }
                    }
                }
            }
            .page-wrapper {
                .photos {
                    .presentation {
                        max-width: 600px;
                    }
                }
                .cadre-bas {
                    .container-1200 {
                        .flex-wrap;

                        .titre-gauche {
                            width: 100%;
                            text-align: center;
                            margin-bottom: 30px;
                        }
                        .texte-droite {
                            width: 100%;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
                #photo-livraison {
                    height: 500px!important;
                }
                table {
                    thead {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    .container-1200 {
        max-width: 600px;
    }
    html {
        body {
            h3,
            .h3 {
                font-size: 30px;
            }
            header {
                .menu-menu-principal-container {
                    display: none;
                }
                .burger-menu {
                    display: block;
                }
                #logo {
                    padding: 30px 0;
                }
            }
            .products {
                .product {
                    height: 350px;
                    .cta-order {
                        height: 130px;
                        width: 130px;
                        .transform(rotateZ(45deg) translate(-80px, 10px));

                        .anti-rotate {
                            .price {
                                font-size: 25px;
                            }
                            .button {
                                font-size: 15px;
                                &:after {
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-bottom: 32px solid @white;
                                }
                            }
                        }
                    }
                    &.product_cat-dessert {
                        .cta-order {
                            left: ~'calc(50% - 65px)';
                            bottom: 50px;
                        }
                    }
                    .menu-description {
                        padding: 10px 0;
                        div {
                            font-size: 12px;
                        }
                    }
                }
                .page-wrapper {
                    .photos {
                        height: 320px!important;
                        .presentation {
                            max-width: 600px;
                        }
                    }
                    .cadre-bas {
                        .container-1200 {
                            .flex-wrap;

                            .titre-gauche {
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                            }
                            .texte-droite {
                                width: 100%;
                            }
                        }
                    }
                    #photo-livraison {
                        height: 300px!important;
                        background-position-y: 55%!important;
                    }
                    table {
                        thead {
                            font-size: 20px;
                        }
                        tbody {
                            font-size: 18px;
                            tr {
                                td {
                                    &:first-child {
                                        padding-left: 0;
                                    }
                                }
                                .product-quantity {
                                    input {
                                        max-width: 55px;
                                    }
                                }
                            }
                        }
                    }
                }
                table {
                    thead {
                        font-size: 20px;
                    }
                    tbody {
                        font-size: 18px;
                    }
                }
                footer {
                    h4 {
                        max-width: 500px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .menu-menu-footer-container {
                        ul {
                            li {
                                display: block;
                                border-right: none;
                                padding: 10px;

                                &:after {
                                    content: "";
                                    width: 20px;
                                    height: 1px;
                                    background: @black;
                                    display: block;
                                    margin: 10px auto;
                                }

                                &:last-child {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    &:after {
                        background-size: cover;
                        height: 200px;
                    }
                }
            }
        }
    }
    @media screen and (min-width:600px) and (max-width:767px) and (orientation:portrait) {
        .container-1200 {
            max-width: 580px;
        }
        html {
            body {
                .products {
                    .product {
                        &.product_cat-dessert {
                            width: 32.9%;
                        }
                    }
                }
                .page-wrapper {
                    .photos {
                        height: 320px!important;
                        .presentation {
                            max-width: 580px;
                        }
                    }
                    .cadre-bas {
                        .container-1200 {
                            .flex-wrap;

                            .titre-gauche {
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                                padding-right: 0;
                            }
                            .texte-droite {
                                width: 100%;
                            }
                        }
                    }
                    .livraison {
                        .cadre-bas {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    #photo-livraison {
                        height: 300px!important;
                        background-position-y: 55%!important;
                    }
                }
            }
        }
    }
    @media screen and (max-width:599px) {
        .container-1200 {
            max-width: 100%;
            padding: 0 30px;
            box-sizing: border-box;
        }
        html {
            body {
                h3,
                .h3 {
                    font-size: 30px;
                }
                header {
                    .menu-menu-principal-container {
                        display: none;
                    }
                    .burger-menu {
                        display: block;
                    }
                    #logo {
                        padding: 10px 0;
                    }
                }
                .products {
                    .product {
                        height: 300px;
                        .detail-menu {
                            order: 2;
                            .transform(translate(0, 80px));

                            .menu-description {
                                bottom: -13px;
                            }
                            .active {
                                .transform(translateY(-120px));
                            }
                        }
                        .cta-order {
                            width: 100%;
                            height: auto;
                            order: 3;
                            transform: none;

                            .anti-rotate {
                                transform: none;
                                .flex;
                                .flex-direction(row);
                                .align-items(center);
                                .justify-content(space-between);
                                padding: 10px 20px;
                                width: 100%;
                                box-sizing: border-box;

                                .price {
                                    font-size: 25px;
                                }
                                .button {
                                    font-size: 25px;
                                    &:after {
                                        border-left: 12px solid transparent;
                                        border-right: 12px solid transparent;
                                        border-bottom: 23px solid @white;
                                        display: inline-block;
                                        vertical-align: middle;
                                        position: relative;
                                        top: -6px;
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                        &.product_cat-dessert {
                            width: 100%;
                            .cta-order {
                                position: relative;
                                transform: none;
                                left: 0;
                                order: 3;
                                bottom: 0;
                            }
                        }
                        .menu-description {
                            padding: 10px 0;
                            div {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .page-wrapper {
                    .photos {
                        height: 320px!important;
                        .presentation {
                            max-width: 600px;
                        }
                    }
                    .cadre-bas {
                        .container-1200 {
                            .flex-wrap;

                            .titre-gauche {
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                                padding-right: 0;
                            }
                            .texte-droite {
                                width: 100%;
                            }
                        }
                    }
                    .livraison {
                        &.photos {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    #photo-livraison {
                        height: 300px!important;
                        background-position-y: 55%!important;
                    }
                    table {
                        thead {
                            font-size: 15px;
                        }
                        tbody {
                            font-size: 15px;
                            tr {
                                td {
                                    &:first-child {
                                        padding-left: 0;
                                    }
                                }
                                .product-quantity {
                                    input {
                                        max-width: 45px;
                                    }
                                }
                            }
                        }
                    }
                }
                table {
                    thead {
                        font-size: 15px;
                    }
                    tbody {
                        font-size: 15px;
                    }
                }
                footer {
                    h4 {
                        max-width: 500px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .menu-menu-footer-container {
                        ul {
                            li {
                                display: block;
                                border-right: none;
                                padding: 10px;

                                &:after {
                                    content: "";
                                    width: 20px;
                                    height: 1px;
                                    background: @black;
                                    display: block;
                                    margin: 10px auto;
                                }

                                &:last-child {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    &:after {
                        background-size: cover;
                        height: 200px;
                    }
                }
            }
        }
    }
    @media screen and (max-width:380px) {
        .container-1200 {
            max-width: 100%;
            padding: 0 30px;
            box-sizing: border-box;
        }
        html {
            body {
                h3,
                .h3 {
                    font-size: 20px;
                }
                .products {
                    .product {
                        height: 250px;
                        .detail-menu {
                            order: 2;
                            .transform(translate(0, 60px));

                            .menu-description {
                                bottom: -13px;
                            }
                            .active {
                                .transform(translateY(-100px));
                            }
                        }
                        .cta-order {
                            .anti-rotate {
                                .price {
                                    font-size: 15px;
                                }
                                .button {
                                    font-size: 15px;
                                    &:after {
                                        border-left: 10px solid transparent;
                                        border-right: 10px solid transparent;
                                        border-bottom: 20px solid @white;
                                        top: -6px;
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                        &.product_cat-dessert {
                            width: 100%;
                            .cta-order {
                                position: relative;
                                transform: none;
                                left: 0;
                                order: 3;
                                bottom: 0;
                            }
                        }
                    }
                }
                .page-wrapper {
                    .photos {
                        height: 320px!important;
                        .presentation {
                            max-width: 600px;
                        }
                    }
                    .cadre-bas {
                        .container-1200 {
                            .flex-wrap;

                            .titre-gauche {
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                                font-size: 25px;
                            }
                            .texte-droite {
                                width: 100%;
                            }
                        }
                    }
                    .livraison {
                        &.photos {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    #photo-livraison {
                        height: 300px!important;
                        background-position-y: 55%!important;
                    }
                    table {
                        .product-price {
                            display: none;
                        }
                    }
                }
                footer {
                    h4 {
                        max-width: 500px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .menu-menu-footer-container {
                        ul {
                            li {
                                display: block;
                                border-right: none;
                                padding: 10px;

                                &:after {
                                    content: "";
                                    width: 20px;
                                    height: 1px;
                                    background: @black;
                                    display: block;
                                    margin: 10px auto;
                                }

                                &:last-child {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    &:after {
                        background-size: cover;
                        height: 200px;
                    }
                }
            }
        }
    }
}